*{
  
}

.container{
    background-color: rgb(18, 21, 28);   
     display: flex;
    flex-direction: column;
  
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  border-radius: 20px;
  box-shadow: 5px 5p 5px;
  font-family: sans-serif;
  margin: auto;
}

.submit{
    color: white;
    background-color: rgb(150, 63, 9);
    width: 50%;
    border: 0;
    border-radius: 20px;
    height: 6vh;
    transition: 0.45s;
    cursor: pointer;

}

.submit:hover{
  background-color: white;
  color: rgb(150, 63, 9);
}



chatgpt :-moz-only-whitespace


 .rounded-button{
  color: white;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  height: 50px;
 }
 
 .container2{
     display: flex;
     flex-direction: row;
      gap: 10px;
 }
 
 .rounded-button {
     border-radius: 50%;
     /* Set initial background color */
     background-color: #ccc;
   }
   
   .rounded-button.clicked {
     /* Set the background color when button is clicked */
     background-color: orange;
   }


